# Обработка ошибок
ErrorDocument 400 /error.php
ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 405 /error.php
ErrorDocument 408 /error.php
ErrorDocument 500 /error.php
ErrorDocument 502 /error.php
ErrorDocument 504 /error.php

# Настройки
RewriteEngine On
AddDefaultCharset UTF-8
Options All -Indexes
DirectoryIndex index.php
RewriteRule ^list list.php
RewriteRule ^success success.php
RewriteRule ^monitoring monitoring.php
RewriteRule ^donaters donaters.php
RewriteRule ^info info.php
RewriteRule ^agreement agreement.php
RewriteRule ^rules rules.php
RewriteRule ^serverrule serverrule.php
RewriteRule ^banlist banlist.php
RewriteRule ^opisanie opisanie.php
RewriteRule ^skins skins.php